In [13]:
import numpy as np
my_numpy_array = np.random.rand(3)

type(my_numpy_array)

numpy.ndarray

In [14]:
my_numpy_array[0]

0.4230449602704569

In [15]:
import pandas as pd
my_series = pd.Series(my_numpy_array)

In [16]:
my_series

0    0.423045
1    0.323162
2    0.508928
dtype: float64

In [17]:
my_series = pd.Series(my_numpy_array, index=['First', 'Second', 'Third'])

In [18]:
CSV_PATH = os.path.join('./pandas/artwork_data.csv')

In [19]:
df = pd.read_csv(CSV_PATH, nrows=5)

In [20]:
df = pd.read_csv(CSV_PATH, nrows=5, index_col='id', usecols=['id', 'artist'])

In [21]:
COLS_TO_USE = ['id', 'artist', 'title', 'medium', 'year', 'acquisitionYear', 'height', 'width', 'units']

In [22]:
df = pd.read_csv(CSV_PATH, usecols=COLS_TO_USE, index_col='id')

/home/rexbox/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [23]:
df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343,467,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243,335,mm
...,...,...,...,...,...,...,...,...
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,2013.0,305,305,mm
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,2013.0,305,305,mm
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,2013.0,45,2410,mm
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,2013.0,508,660,mm

In [24]:
#to reuse it later, serialize with pickle
df.to_pickle(os.path.join('..', 'data_frame.pickle'))

In [25]:
import pandas as pd
import os
import json

In [26]:
records = [("Espresso", "5$"),
           ("Flat White", "10$")]

In [27]:
pd.DataFrame.from_records(records)

pd.DataFrame.from_records(records,
                          columns=["Coffee", "Price"])

       Coffee Price
0    Espresso    5$
1  Flat White   10$

In [28]:
KEYS_TO_USE = ['id', 'all_artists', 'title', 'medium', 'dateText',
               'acquisitionYear', 'height', 'width', 'units']

In [29]:
def get_record_from_file(file_path, keys_to_use):
    """ Process single json file and return a tuple
    containing specific fields."""

    with open(file_path) as artwork_file:
        content = json.load(artwork_file)
            
    record = []    
    for field in keys_to_use:
        record.append(content[field])
        
    return tuple(record)

In [30]:
SAMPLE_JSON = os.path.join('./fundamentals/a00001-1035.json')
     
sample_record = get_record_from_file(SAMPLE_JSON,
                                     KEYS_TO_USE)

In [31]:
def read_artworks_from_json(keys_to_use):
    """ Traverse the directories with JSON files.
    For first file in each directory call function
    for processing single file and go to the next
    directory.
    """
    JSON_ROOT = os.path.join('..', 'collection-master',
                             'artworks')
    artworks = []
    for root, _, files in os.walk(JSON_ROOT):
        for f in files:
            if f.endswith('json'):
                record = get_record_from_file(
                            os.path.join(root, f),
                            keys_to_use)
                artworks.append(record)
            break
        
    df = pd.DataFrame.from_records(artworks,
                                   columns=keys_to_use,
                                   index="id")
    return df

df = read_artworks_from_json(KEYS_TO_USE)