In [2]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return (fibo(n-1) + fibo(n-2))

result = fibo(10)
print(str(result))

55

In [1]:
import pandas as pd
data = pd.read_csv('./pandas/athletes.csv')
data.head()

          id nationality     sex  height  weight      sport gold silver bronze
0  736041664         ESP    male    1.72    64.0  athletics    0      0      0
1  532037425         KOR  female    1.68    56.0    fencing    0      0      0
2  435962603         CAN    male    1.98    79.0  athletics    0      0      1
3  521041435         MDA    male    1.83    80.0  taekwondo    0      0      0
4   33922579         NZL    male    1.81    71.0    cycling    0      0      0

In [5]:
fulldf = pd.read_csv('./pandas/athletes.csv', low_memory=False)

In [14]:
pd.to_numeric(fulldf.height, errors='coerce')

0        1.72
1        1.68
2        1.98
3        1.83
4        1.81
         ...
11538    1.64
11539    1.73
11540    1.85
11541    1.60
11542    1.85
Name: height, Length: 11543, dtype: float64

In [62]:
art = pd.read_csv('./pandas/artwork_sample.csv')
art.head()

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[5 rows x 20 columns]

In [24]:
art.year
art.year.mean()
art.artist.min()
art.artist.sum()

'Blake, RobertBlake, RobertBlake, RobertBlake, RobertBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, William'

In [29]:
art.agg('min')

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                         1826â€“7, reprinted 1892
medium                                                Graphite on paper
creditLine                          Presented by Mrs John Richmond 1922
year                                                               1785
acquisitionYear                                                    1919
dimensions                                          image: 240 x 338 mm
width                                                               240
height                                                              213
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
dtype: object

In [26]:
art.min()

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                         1826â€“7, reprinted 1892
medium                                                Graphite on paper
creditLine                          Presented by Mrs John Richmond 1922
year                                                               1785
acquisitionYear                                                    1919
dimensions                                          image: 240 x 338 mm
width                                                               240
height                                                              213
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
dtype: object

In [39]:
art.agg(['min', 'max', 'mean', 'std'])

              id  ...                                                url
min   1035.00000  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
max   1044.00000  ...  http://www.tate.org.uk/art/artworks/blake-two-...
mean  1039.50000  ...                                                NaN
std      3.02765  ...                                                NaN

[4 rows x 20 columns]

In [43]:
art.agg('mean', axis=0)
art.head()

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[5 rows x 20 columns]

In [44]:
art.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                  float64
acquisitionYear         int64
dimensions             object
width                   int64
height                  int64
depth                 float64
units                  object
inscription           float64
thumbnailCopyright    float64
thumbnailUrl           object
url                    object
dtype: object

In [63]:
#normalize
#subtract the mean and divide by the std, this is standardization
height = art.height
norm = (height - height.mean())/ height.std()
norm

0    1.010198
1   -2.072777
2    1.728561
3    0.636051
4   -0.246937
5   -0.202040
6   -0.261903
7   -0.172108
8   -0.246937
9   -0.172108
Name: height, dtype: float64

In [49]:
#normalize the values between 0 and 1
minmax = (height - height.min())/(height.max() - height.min())
minmax

0    0.811024
1    0.000000
2    1.000000
3    0.712598
4    0.480315
5    0.492126
6    0.476378
7    0.500000
8    0.480315
9    0.500000
Name: height, dtype: float64

In [52]:
minmax.max()

1.0

In [53]:
art

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5  1040  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6  1041  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7  1042  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8  1043  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9  1044  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[10 rows x 20 columns]

In [55]:
art.height =  minmax
art

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5  1040  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6  1041  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7  1042  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8  1043  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9  1044  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[10 rows x 20 columns]

In [57]:
art['standardized_height'] = norm
art

     id  ... standardized_height
0  1035  ...            1.010198
1  1036  ...           -2.072777
2  1037  ...            1.728561
3  1038  ...            0.636051
4  1039  ...           -0.246937
5  1040  ...           -0.202040
6  1041  ...           -0.261903
7  1042  ...           -0.172108
8  1043  ...           -0.246937
9  1044  ...           -0.172108

[10 rows x 21 columns]

In [65]:
art.height.transform(lambda x: x/10)

0    41.9
1    21.3
2    46.7
3    39.4
4    33.5
5    33.8
6    33.4
7    34.0
8    33.5
9    34.0
Name: height, dtype: float64

In [67]:
art.groupby('artist')

In [69]:
art.groupby('artist').transform('nunique')

   id  accession_number  artistRole  ...  thumbnailCopyright  thumbnailUrl  url
0   4                 4           1  ...                   0             4    4
1   4                 4           1  ...                   0             4    4
2   4                 4           1  ...                   0             4    4
3   4                 4           1  ...                   0             4    4
4   6                 6           1  ...                   0             6    6
5   6                 6           1  ...                   0             6    6
6   6                 6           1  ...                   0             6    6
7   6                 6           1  ...                   0             6    6
8   6                 6           1  ...                   0             6    6
9   6                 6           1  ...                   0             6    6

[10 rows x 19 columns]

In [70]:
art

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5  1040  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6  1041  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7  1042  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8  1043  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9  1044  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[10 rows x 20 columns]

In [77]:
art.groupby('artist')['height'].transform("mean")

0    373.25
1    373.25
2    373.25
3    373.25
4    337.00
5    337.00
6    337.00
7    337.00
8    337.00
9    337.00
Name: height, dtype: float64

In [80]:
data2 = pd.read_csv('./pandas/artwork_data.csv', low_memory = False)
data2.head()

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[5 rows x 20 columns]

In [82]:
data2.filter(items = ['id', 'artist'])

           id              artist
0        1035       Blake, Robert
1        1036       Blake, Robert
2        1037       Blake, Robert
3        1038       Blake, Robert
4        1039      Blake, William
...       ...                 ...
69196  122960  P-Orridge, Genesis
69197  122961  P-Orridge, Genesis
69198  121181        Hatoum, Mona
69199  112306       Creed, Martin
69200  127035   Brunias, Agostino

[69201 rows x 2 columns]

In [85]:
data2.filter(like='artist')
#case insensitive year
data2.filter(regex='(?i)year')

       year  acquisitionYear
0       NaN           1922.0
1       NaN           1922.0
2      1785           1922.0
3       NaN           1922.0
4      1826           1919.0
...     ...              ...
69196  1975           2013.0
69197  1976           2013.0
69198  1996           2013.0
69199  2000           2013.0
69200  1764           2013.0

[69201 rows x 2 columns]

In [89]:
#columns are axis 1, rows are axis 0
#this regex comes up with the id 1000 to 1009
data2.filter(axis=0, regex='^100.$')

         id  ...                                                url
1000  14704  ...  http://www.tate.org.uk/art/artworks/turner-hed...
1001  14705  ...  http://www.tate.org.uk/art/artworks/turner-hed...
1002  14706  ...  http://www.tate.org.uk/art/artworks/turner-riv...
1003  14707  ...  http://www.tate.org.uk/art/artworks/turner-riv...
1004  14708  ...  http://www.tate.org.uk/art/artworks/turner-cha...
1005  14709  ...  http://www.tate.org.uk/art/artworks/turner-cha...
1006  14710  ...  http://www.tate.org.uk/art/artworks/turner-mer...
1007  14711  ...  http://www.tate.org.uk/art/artworks/turner-mer...
1008  14712  ...  http://www.tate.org.uk/art/artworks/turner-riv...
1009  14713  ...  http://www.tate.org.uk/art/artworks/turner-riv...

[10 rows x 20 columns]

In [ ]:
data.filter(regex='^100(0|2|4|6|8)$', axis=0)