In [1]:
import pandas as pd
import os

In [2]:
# Let's load the data for the first time
df = pd.read_pickle(os.path.join('..', 'data_frame.pickle'))

In [3]:
df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343,467,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243,335,mm
...,...,...,...,...,...,...,...,...
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,2013.0,305,305,mm
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,2013.0,305,305,mm
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,2013.0,45,2410,mm
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,2013.0,508,660,mm

In [5]:
artists = df['artist']
pd.unique(artists)
len(pd.unique(artists))

3336

In [8]:
#one approach to filtering
s = df['artist'] == 'Bacon, Francis'
s.value_counts()

False    69151
True        50
Name: artist, dtype: int64

In [12]:
#another approach to filtering
artist_counts = df['artist'].value_counts()
artist_counts['Bacon, Francis']

50

In [14]:
df.loc[1035, 'artist']

'Blake, Robert'

In [15]:
df.loc[df['artist']=='Bacon, Francis', :]

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
672,"Bacon, Francis",Figure in a Landscape,Oil paint on canvas,1945,1950.0,1448,1283,mm
673,"Bacon, Francis",Study of a Dog,Oil paint on canvas,1952,1952.0,1981,1372,mm
674,"Bacon, Francis",Three Studies for Figures at the Base of a Cru...,Oil paint on 3 boards,1944,1953.0,NaN,NaN,NaN
677,"Bacon, Francis",Study for a Portrait of Van Gogh IV,Oil paint on canvas,1957,1958.0,1524,1168,mm
678,"Bacon, Francis",Reclining Woman,Oil paint on canvas,1961,1961.0,1988,1416,mm
679,"Bacon, Francis",Seated Figure,Oil paint on canvas,1961,1961.0,1651,1422,mm
680,"Bacon, Francis",Study for Portrait on Folding Bed,Oil paint on canvas,1963,1963.0,1981,1473,mm
681,"Bacon, Francis",Portrait of Isabel Rawsthorne,Oil paint on canvas,1966,1966.0,813,686,mm
682,"Bacon, Francis",Three Figures and Portrait,Oil paint and pastel on canvas,1975,1977.0,1981,1473,mm
683,"Bacon, Francis",Study for Portrait II (after the Life Mask of ...,Oil paint on canvas,1955,1979.0,610,508,mm
684,"Bacon, Francis",Triptych - August 1972,Oil paint on 3 canvases,1972,1980.0,NaN,NaN,NaN
19509,"Bacon, Francis",Second Version of Triptych 1944,Oil paint and acrylic paint on 3 canvases,1988,1991.0,NaN,NaN,NaN
26004,"Bacon, Francis",Figure in a Landscape,Oil paint on paper,1952,1998.0,339,263,mm
26003,"Bacon, Francis",Turning Figure,Graphite and oil paint on paper,1959,1998.0,339,263,mm
26001,"Bacon, Francis","Reclining Figure, No. 1",Oil paint and ink on paper,1961,1998.0,238,156,mm
26002,"Bacon, Francis","Reclining Figure, No. 2",Oil paint and ink on paper,1961,1998.0,222,150,mm
26025,"Bacon, Francis","Two Owls, No. 1",Graphite and oil paint on paper,1957,1998.0,270,340,mm
26060,"Bacon, Francis",Figure in a Framework,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26059,"Bacon, Francis",Collapsed Figure,Oil paint on paper,1957,1998.0,340,270,mm
26026,"Bacon, Francis",Figure Bending Forwards,Oil paint on paper,1957,1998.0,340,270,mm
26058,"Bacon, Francis","Two Owls, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26057,"Bacon, Francis",Falling Figure,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26055,"Bacon, Francis","Figure with Left Arm Raised, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26056,"Bacon, Francis","Figure with Left Arm Raised, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26054,"Bacon, Francis",Figure with Arms Swung Out,Oil paint on paper,1957,1998.0,340,265,mm
26053,"Bacon, Francis",Seated Figure,Graphite on paper,1957,1998.0,340,270,mm
26052,"Bacon, Francis",Figure Lying Flat,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26051,"Bacon, Francis",Figure in Grey Interior,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26050,"Bacon, Francis",Standing Figure,Ink on paper,1957,1998.0,340,270,mm
26049,"Bacon, Francis",Figure with Foot in Hand,Oil paint and ink on paper,1957,1998.0,270,340,mm
26048,"Bacon, Francis",Fallen Figure,Oil paint on paper,1957,1998.0,340,270,mm
26047,"Bacon, Francis",Fallen Figure with Arms Up,Oil paint on paper,1957,1998.0,340,270,mm
26046,"Bacon, Francis","Bending Figure, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26045,"Bacon, Francis",Figure Crawling,Oil paint on paper,1957,1998.0,340,270,mm
26044,"Bacon, Francis",Head,Oil paint on paper,1957,1998.0,340,270,mm
26043,"Bacon, Francis","Figure Lying, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26042,"Bacon, Francis","Figure Lying, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26041,"Bacon, Francis","Blue Crawling Figure, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26040,"Bacon, Francis","Blue Crawling Figure, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26039,"Bacon, Francis",Pink Crawling Figure,Oil paint and ink on paper,1957,1998.0,340,270,mm
26038,"Bacon, Francis","Bending Figure, No. 2",Ink and oil paint on paper,1957,1998.0,340,270,mm
26037,"Bacon, Francis",Composition,Oil paint on paper,1957,1998.0,340,270,mm
26036,"Bacon, Francis",Man on a Bed,Graphite on paper,1957,1998.0,254,190,mm
26035,"Bacon, Francis",Man on a Sofa,Oil paint on paper,1957,1998.0,254,190,mm
26034,"Bacon, Francis",Nude Reading,Graphite and oil paint on paper,1957,1998.0,254,190,mm
26033,"Bacon, Francis","Cross-legged Figure with Arms Raised, No. 1",Graphite on paper,1957,1998.0,254,190,mm
26032,"Bacon, Francis","Cross-legged Figure with Arms Raised, No. 2",Oil paint on paper,1957,1998.0,254,190,mm
26031,"Bacon, Francis",Seated Woman,Graphite on paper,1957,1998.0,254,190,mm
21897,"Bacon, Francis",Figures in a Garden,Oil paint on canvas,1936,2008.0,740,940,mm
111,"Bacon, Francis",Study for a Portrait,Oil paint and sand on canvas,1952,2008.0,661,561,mm

In [16]:
df.iloc[0, 0]

'Blake, Robert'

In [18]:
df.iloc[0, :]

artist                                                 Blake, Robert
title              A Figure Bowing before a Seated Old Man with h...
medium             Watercolour, ink, chalk and graphite on paper....
year                                                             NaN
acquisitionYear                                                 1922
width                                                            394
height                                                           419
units                                                             mm
Name: 1035, dtype: object

In [19]:
df.iloc[0:2, 0:2]

             artist                                              title
id
1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...

In [20]:
df.iloc[100:300, [0,1,4]]

,artist,title,acquisitionYear
id,,,
1737,"Burne-Jones, Sir Edward Coley, Bt",Head of a Girl,1927.0
1738,"Burne-Jones, Sir Edward Coley, Bt",Figure Study,1927.0
1739,"Burne-Jones, Sir Edward Coley, Bt",Study of the Head of a Female Attendant for ‘T...,1927.0
20231,"Burne-Jones, Sir Edward Coley, Bt",Study of Iseult for ‘The Marriage of Sir Trist...,1927.0
1740,"Burne-Jones, Sir Edward Coley, Bt",Composition Study for ‘Clerk Saunders’,1927.0
...,...,...,...
7329,"Jones, George",[title not known],1888.0
7330,"Jones, George",[title not known],1888.0
7331,"Jones, George",[title not known],1888.0
7332,"Jones, George",[title not known],1888.0
7333,"Jones, George",[title not known],1888.0

In [22]:
#Find the artwork with the biggest area in the dataset??!!
df['height'] * df['width']

TypeError: can't multiply sequence by non-int of type 'float'

In [24]:
#check the type of the column
(df['height'])
#there is numbers in the column, the issue is that it is dirty

id
1035       419
1036       213
1037       467
1038       394
1039       335
          ...
122960     305
122961     305
121181    2410
112306     NaN
127035     660
Name: height, Length: 69201, dtype: object

In [26]:
df['width'].sort_values().head()

id
20822            (1):
105337    (diameter):
98671         (each):
76420         (each):
91391        (image):
Name: width, dtype: object

In [27]:
df['width'].sort_values().tail()

id
121283    NaN
117863    NaN
120549    NaN
122900    NaN
112306    NaN
Name: width, dtype: object

In [28]:
df['width'].sort_values().tail()

id
121283    NaN
117863    NaN
120549    NaN
122900    NaN
112306    NaN
Name: width, dtype: object

In [29]:
# Try to convert
pd.to_numeric(df['width'])

ValueError: Unable to parse string "(upper):" at position 1839

In [30]:
pd.to_numeric(df['width'], errors='coerce')

id
1035      394.0
1036      311.0
1037      343.0
1038      318.0
1039      243.0
          ...
122960    305.0
122961    305.0
121181     45.0
112306      NaN
127035    508.0
Name: width, Length: 69201, dtype: float64

In [31]:
df.loc[:, 'width'] = pd.to_numeric(df['width'], errors='coerce')

In [32]:
#doing the same for the height column
pd.to_numeric(df['height'], errors='coerce')

id
1035       419.0
1036       213.0
1037       467.0
1038       394.0
1039       335.0
           ...
122960     305.0
122961     305.0
121181    2410.0
112306       NaN
127035     660.0
Name: height, Length: 69201, dtype: float64

In [34]:
df.loc[:, 'height'] = pd.to_numeric(df['height'],errors='coerce')

In [35]:
df['height'] * df['width']

id
1035      165086.0
1036       66243.0
1037      160181.0
1038      125292.0
1039       81405.0
            ...
122960     93025.0
122961     93025.0
121181    108450.0
112306         NaN
127035    335280.0
Length: 69201, dtype: float64

In [36]:
df['units'].value_counts()

mm    65860
Name: units, dtype: int64