In [1]:
import pandas as pd
import numpy as np
import os

df = pd.read_pickle(os.path.join('..', 'data_frame.pickle'))

In [3]:
# ITERATION
small_df = df.iloc[49980:50019, :].copy()
grouped = small_df.groupby('artist')
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [4]:

for name, group_df in grouped:
    print(name)
    print(group_df)
    break

Frost, Sir Terry
                artist            title               medium  year  \
id
4704  Frost, Sir Terry        Blue Moon  Lithograph on paper  1952
4705  Frost, Sir Terry      Boat Shapes     Linocut on paper  1952
4706  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4707  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4708  Frost, Sir Terry            Leeds    Drypoint on paper  1956
4709  Frost, Sir Terry  Camping, Anduze     Etching on paper  1979
4710  Frost, Sir Terry     Umea, Sweden     Etching on paper  1979
4711  Frost, Sir Terry    Self-Portrait     Etching on paper  1980

      acquisitionYear width height units
id
4704           1983.0   355    273    mm
4705           1983.0   132    143    mm
4706           1983.0   131    155    mm
4707           1983.0   193    267    mm
4708           1983.0   125    167    mm
4709           1983.0   257    209    mm
4710           1983.0   NaN    NaN   NaN
4711           1983.0   277    200    mm

In [5]:
# When was the first piece for an artist acquired
# Aggregate
# Mins
for name, group_df in small_df.groupby('artist'): 
    min_year = group_df['acquisitionYear'].min()
    print("{}: {}".format(name, min_year))

Frost, Sir Terry: 1983.0
Phillips, Esq Tom: 1983.0
Wols: 1983.0

In [6]:
# This df is already clean so we have to add some nan values to demonstrate how to fill them out, if you are in spyder IDE you can simply change them manually
small_df['medium'].isnull().values.any()

False

In [31]:
small_df.at[16441, "medium"] = 'nan'

In [34]:
#this artist has a single row
small_df.at[11838, "medium"] = 'nan'

In [35]:
small_df.at[11838, "medium"]

'nan'

In [36]:
small_df.at[16441, "medium"] = 'nan'

In [37]:
small_df.at[16441, "medium"]

'nan'

In [38]:
def fill_values(series):
    #get the median with the counts function
    values_counted = series.value_counts()
    #make sure not all the values are nan
    if values_counted.empty:
        return series
    most_frequent = values_counted.index[0]
    new_medium = series.fillna(most_frequent)
    return new_medium

In [39]:
#iterate over artist groups
def transform_df(source_df):
    group_dfs = []  
    for name, group_df in source_df.groupby('artist'):
        filled_df = group_df.copy()
        filled_df.loc[:, 'medium'] = fill_values(group_df['medium'])
        group_dfs.append(filled_df)
    
    new_df = pd.concat(group_dfs)
    return new_df

In [40]:
#very primitive way to work with pandas
filled_df = transform_df(small_df)

In [41]:
filled_df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
4704,"Frost, Sir Terry",Blue Moon,Lithograph on paper,1952,1983.0,355,273,mm
4705,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1952,1983.0,132,143,mm
4706,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,131,155,mm
4707,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,193,267,mm
4708,"Frost, Sir Terry",Leeds,Drypoint on paper,1956,1983.0,125,167,mm
4709,"Frost, Sir Terry","Camping, Anduze",Etching on paper,1979,1983.0,257,209,mm
4710,"Frost, Sir Terry","Umea, Sweden",Etching on paper,1979,1983.0,NaN,NaN,NaN
4711,"Frost, Sir Terry",Self-Portrait,Etching on paper,1980,1983.0,277,200,mm
11838,"Phillips, Esq Tom",[colophon],nan,1979,1983.0,292,204,mm
16412,Wols,[no title],Etching on paper,1937,1983.0,130,80,mm
16413,Wols,[no title],Etching and drypoint on paper,1937,1983.0,187,102,mm
16414,Wols,[no title],Etching and drypoint on paper,1937,1983.0,248,168,mm
16415,Wols,[no title],Etching and drypoint on paper,1937,1983.0,149,102,mm
16416,Wols,[no title],Etching and drypoint on paper,1937,1983.0,203,120,mm
16417,Wols,[no title],Etching on paper,1937,1983.0,130,79,mm
16418,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16419,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,89,mm
16420,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,86,mm
16421,Wols,[no title],Etching and drypoint on paper,1937,1983.0,83,79,mm
16422,Wols,[no title],Etching and drypoint on paper,1937,1983.0,200,146,mm
16423,Wols,[no title],Etching on paper,1937,1983.0,60,98,mm
16424,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16425,Wols,[no title],Etching on paper,1937,1983.0,124,98,mm
16426,Wols,[no title],Etching and drypoint on paper,1937,1983.0,204,118,mm
16427,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,98,mm
16428,Wols,[no title],Etching and drypoint on paper,1937,1983.0,197,149,mm
16429,Wols,[no title],Etching and drypoint on paper,1937,1983.0,102,120,mm
16430,Wols,[no title],Etching and drypoint on paper,1937,1983.0,118,95,mm
16431,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,79,mm
16432,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,95,mm
16433,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,73,mm
16434,Wols,[no title],Etching and drypoint on paper,1937,1983.0,121,102,mm
16435,Wols,[no title],Etching and drypoint on paper,1937,1983.0,121,92,mm
16436,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16437,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16438,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16439,Wols,[no title],Etching and drypoint on paper,1937,1983.0,102,70,mm
16440,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,70,mm
16441,Wols,[no title],nan,1937,1983.0,324,248,mm