In [2]:
import pandas as pd
import numpy as np
import os

df = pd.read_pickle(os.path.join('..', 'data_frame.pickle'))

In [9]:
# ITERATION
small_df = df.iloc[49980:50019, :].copy()
grouped = small_df.groupby('artist')
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [4]:

for name, group_df in grouped:
    print(name)
    print(group_df)
    break

Frost, Sir Terry
                artist            title               medium  year  \
id
4704  Frost, Sir Terry        Blue Moon  Lithograph on paper  1952
4705  Frost, Sir Terry      Boat Shapes     Linocut on paper  1952
4706  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4707  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4708  Frost, Sir Terry            Leeds    Drypoint on paper  1956
4709  Frost, Sir Terry  Camping, Anduze     Etching on paper  1979
4710  Frost, Sir Terry     Umea, Sweden     Etching on paper  1979
4711  Frost, Sir Terry    Self-Portrait     Etching on paper  1980

      acquisitionYear width height units
id
4704           1983.0   355    273    mm
4705           1983.0   132    143    mm
4706           1983.0   131    155    mm
4707           1983.0   193    267    mm
4708           1983.0   125    167    mm
4709           1983.0   257    209    mm
4710           1983.0   NaN    NaN   NaN
4711           1983.0   277    200    mm

In [5]:
# When was the first piece for an artist acquired
# Aggregate
# Mins
for name, group_df in small_df.groupby('artist'): 
    min_year = group_df['acquisitionYear'].min()
    print("{}: {}".format(name, min_year))

Frost, Sir Terry: 1983.0
Phillips, Esq Tom: 1983.0
Wols: 1983.0

In [6]:
# This df is already clean so we have to add some nan values to demonstrate how to fill them out, if you are in spyder IDE you can simply change them manually
small_df['medium'].isnull().values.any()

False

In [31]:
small_df.at[16441, "medium"] = 'nan'

In [34]:
#this artist has a single row
small_df.at[11838, "medium"] = 'nan'

In [35]:
small_df.at[11838, "medium"]

'nan'

In [36]:
small_df.at[16441, "medium"] = 'nan'

In [37]:
small_df.at[16441, "medium"]

'nan'

In [13]:
def fill_values(series):
    #get the median with the counts function
    values_counted = series.value_counts()
    #make sure not all the values are nan
    if values_counted.empty:
        return series
    most_frequent = values_counted.index[0]
    new_medium = series.fillna(most_frequent)
    return new_medium

In [39]:
#iterate over artist groups
def transform_df(source_df):
    group_dfs = []  
    for name, group_df in source_df.groupby('artist'):
        filled_df = group_df.copy()
        filled_df.loc[:, 'medium'] = fill_values(group_df['medium'])
        group_dfs.append(filled_df)
    
    new_df = pd.concat(group_dfs)
    return new_df

In [40]:
#very primitive way to work with pandas
filled_df = transform_df(small_df)

In [41]:
filled_df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
4704,"Frost, Sir Terry",Blue Moon,Lithograph on paper,1952,1983.0,355,273,mm
4705,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1952,1983.0,132,143,mm
4706,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,131,155,mm
4707,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,193,267,mm
4708,"Frost, Sir Terry",Leeds,Drypoint on paper,1956,1983.0,125,167,mm
4709,"Frost, Sir Terry","Camping, Anduze",Etching on paper,1979,1983.0,257,209,mm
4710,"Frost, Sir Terry","Umea, Sweden",Etching on paper,1979,1983.0,NaN,NaN,NaN
4711,"Frost, Sir Terry",Self-Portrait,Etching on paper,1980,1983.0,277,200,mm
11838,"Phillips, Esq Tom",[colophon],nan,1979,1983.0,292,204,mm
16412,Wols,[no title],Etching on paper,1937,1983.0,130,80,mm
16413,Wols,[no title],Etching and drypoint on paper,1937,1983.0,187,102,mm
16414,Wols,[no title],Etching and drypoint on paper,1937,1983.0,248,168,mm
16415,Wols,[no title],Etching and drypoint on paper,1937,1983.0,149,102,mm
16416,Wols,[no title],Etching and drypoint on paper,1937,1983.0,203,120,mm
16417,Wols,[no title],Etching on paper,1937,1983.0,130,79,mm
16418,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16419,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,89,mm
16420,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,86,mm
16421,Wols,[no title],Etching and drypoint on paper,1937,1983.0,83,79,mm
16422,Wols,[no title],Etching and drypoint on paper,1937,1983.0,200,146,mm
16423,Wols,[no title],Etching on paper,1937,1983.0,60,98,mm
16424,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16425,Wols,[no title],Etching on paper,1937,1983.0,124,98,mm
16426,Wols,[no title],Etching and drypoint on paper,1937,1983.0,204,118,mm
16427,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,98,mm
16428,Wols,[no title],Etching and drypoint on paper,1937,1983.0,197,149,mm
16429,Wols,[no title],Etching and drypoint on paper,1937,1983.0,102,120,mm
16430,Wols,[no title],Etching and drypoint on paper,1937,1983.0,118,95,mm
16431,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,79,mm
16432,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,95,mm
16433,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,73,mm
16434,Wols,[no title],Etching and drypoint on paper,1937,1983.0,121,102,mm
16435,Wols,[no title],Etching and drypoint on paper,1937,1983.0,121,92,mm
16436,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16437,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16438,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16439,Wols,[no title],Etching and drypoint on paper,1937,1983.0,102,70,mm
16440,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,70,mm
16441,Wols,[no title],nan,1937,1983.0,324,248,mm

In [50]:
#transformation methods built in
grouped_mediums = small_df.groupby('artist')['medium']

In [52]:
small_df.loc[:, 'medium'] = grouped_mediums.transform(fill_values)
small_df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
16412,Wols,[no title],Etching on paper,1937,1983.0,130,80,mm
16413,Wols,[no title],Etching and drypoint on paper,1937,1983.0,187,102,mm
16414,Wols,[no title],Etching and drypoint on paper,1937,1983.0,248,168,mm
16415,Wols,[no title],Etching and drypoint on paper,1937,1983.0,149,102,mm
16416,Wols,[no title],Etching and drypoint on paper,1937,1983.0,203,120,mm
16417,Wols,[no title],Etching on paper,1937,1983.0,130,79,mm
16418,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16419,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,89,mm
16420,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,86,mm
16421,Wols,[no title],Etching and drypoint on paper,1937,1983.0,83,79,mm
16422,Wols,[no title],Etching and drypoint on paper,1937,1983.0,200,146,mm
16423,Wols,[no title],Etching on paper,1937,1983.0,60,98,mm
16424,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16425,Wols,[no title],Etching on paper,1937,1983.0,124,98,mm
16426,Wols,[no title],Etching and drypoint on paper,1937,1983.0,204,118,mm
16427,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,98,mm
16428,Wols,[no title],Etching and drypoint on paper,1937,1983.0,197,149,mm
16429,Wols,[no title],Etching and drypoint on paper,1937,1983.0,102,120,mm
16430,Wols,[no title],Etching and drypoint on paper,1937,1983.0,118,95,mm
16431,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,79,mm
16432,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,95,mm
16433,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,73,mm
16434,Wols,[no title],Etching and drypoint on paper,1937,1983.0,121,102,mm
16435,Wols,[no title],Etching and drypoint on paper,1937,1983.0,121,92,mm
16436,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16437,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16438,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16439,Wols,[no title],Etching and drypoint on paper,1937,1983.0,102,70,mm
16440,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,70,mm
16441,Wols,[no title],nan,1937,1983.0,324,248,mm
4704,"Frost, Sir Terry",Blue Moon,Lithograph on paper,1952,1983.0,355,273,mm
4705,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1952,1983.0,132,143,mm
4706,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,131,155,mm
4707,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,193,267,mm
4708,"Frost, Sir Terry",Leeds,Drypoint on paper,1956,1983.0,125,167,mm
4709,"Frost, Sir Terry","Camping, Anduze",Etching on paper,1979,1983.0,257,209,mm
4710,"Frost, Sir Terry","Umea, Sweden",Etching on paper,1979,1983.0,NaN,NaN,NaN
4711,"Frost, Sir Terry",Self-Portrait,Etching on paper,1980,1983.0,277,200,mm
11838,"Phillips, Esq Tom",[colophon],nan,1979,1983.0,292,204,mm

In [55]:
df.groupby('artist').agg(np.min)

ValueError: Wrong number of items passed 1, placement implies 6

In [56]:
df.groupby('artist').min()

ValueError: Wrong number of items passed 1, placement implies 6

In [57]:
grouped_titles = df.groupby('title')

In [58]:
title_counts = grouped_titles.size().sort_values(ascending=False)

In [59]:
condition = lambda x: len(x.index) > 1

In [60]:
dup_titles_df = grouped_titles.filter(condition)

In [61]:
dup_titles_df.sort_values('title', inplace=True)

In [62]:
dup_titles_df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
20571,"Scully, Sean",#1,Aquatint on paper,1992,1992.0,117,174,mm
21345,"Dunham, Carroll",#1,Drypoint on paper,1989,2002.0,392,579,mm
21346,"Dunham, Carroll",#2,Drypoint on paper,1989,2002.0,392,579,mm
20572,"Scully, Sean",#2,Aquatint on paper,1992,1992.0,323,278,mm
21347,"Dunham, Carroll",#3,Drypoint on paper,1989,2002.0,392,579,mm
...,...,...,...,...,...,...,...,...
97431,"Warhol, Andy",The Runaway Pigeon,Ink on paper on ink on paper,1953,2009.0,280,205,mm
97408,"Warhol, Andy",The Runaway Pigeon,"Ink, watercolour and graphite on paper",1953,2009.0,269,295,mm
97409,"Warhol, Andy",The Runaway Pigeon,"Ink, watercolour and graphite on paper",1953,2009.0,272,237,mm
97428,"Warhol, Andy",The Summer Dancers,Ink and dye on paper,1955,2009.0,215,145,mm
97427,"Warhol, Andy",The Summer Dancers,Ink and dye on paper on ink on paper,1955,2009.0,226,319,mm

In [ ]:
# transform
# grouped_medium = df.groupby('artist')['medium']
# df.loc[:,'medium'] = grouped_medium.transform(fill_values)

# find minimum values
# grouped_acq_year = df.groupby('artist')['acquisitionYear']
# min_acquisition_years = grouped_acq_year.agg(np.min)
# min_acquisition_years = grouped_acq_year.min()

#Duplicated titles
# grouped_titles = df.groupby('titles')
# condition = lambda x: len(x.index) > 1
# filtered_df = grouped_titles.filter(condition)

In [18]:
grouped_acq_year = df.groupby('artist')['acquisitionYear']

In [19]:
min_acquisition_years = grouped_acq_year.agg(np.min)

In [20]:
min_acquisition_years = grouped_acq_year.min()
min_acquisition_years

artist
?British School           1927.0
Abakanowicz, Magdalena    2009.0
Abbey, Edwin Austin       1924.0
Abbott, Berenice          2010.0
Abbott, Lemuel Francis    1885.0
                           ...
Zuloaga, Ignacio          1923.0
Zyw, Aleksander           1962.0
di Suvero, Mark           2004.0
van Elk, Ger              1980.0
tyrsk, Jindrich         2007.0
Name: acquisitionYear, Length: 3336, dtype: float64

In [10]:
#TRANSFORM
grouped_mediums = small_df.groupby('artist')['medium']

In [11]:
grouped_mediums

In [14]:
small_df.loc[:, 'medium'] = grouped_mediums.transform(fill_values)

In [16]:
df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343,467,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243,335,mm
...,...,...,...,...,...,...,...,...
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,2013.0,305,305,mm
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,2013.0,305,305,mm
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,2013.0,45,2410,mm
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,2013.0,508,660,mm

In [15]:
#Minimum
df.groupby('artist').agg(np.min)

ValueError: Wrong number of items passed 1, placement implies 6

In [17]:
df.groupby('artist').min()

ValueError: Wrong number of items passed 1, placement implies 6

In [ ]:
small_df

In [3]:
#FILTERING
grouped_titles = df.groupby('title')

In [4]:
title_counts = grouped_titles.size().sort_values(ascending=False)

In [5]:
condition = lambda x: len(x.index) > 1

In [7]:
dup_titles_df = grouped_titles.filter(condition)

In [ ]:
dup_titles_df.sort_values('title', inplace=True)