In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('./pandas/weather_m4.csv')
df.info() #there is some missing data, the min_temp_ground column has a lot less measurements

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YYYYMMDD         8784 non-null   int64
 1   TIME             8784 non-null   int64
 2   TEMP             8784 non-null   int64
 3   MIN_TEMP_GROUND  1464 non-null   float64
 4   PRESSURE         8784 non-null   int64
 5   HUMIDITY         8784 non-null   int64
 6   VIEW_RANGE       8743 non-null   float64
 7   CLOUD            8743 non-null   float64
 8   MIST             8741 non-null   float64
 9   RAIN             8741 non-null   float64
 10  SNOW             8741 non-null   float64
 11  THUNDER          8741 non-null   float64
 12  ICE              8741 non-null   float64
 13  WEATHER_CODE     3862 non-null   float64
dtypes: float64(9), int64(5)
memory usage: 960.9 KB

In [5]:
df[['MIN_TEMP_GROUND', 'VIEW_RANGE', 'CLOUD', 'WEATHER_CODE']].head(24)

    MIN_TEMP_GROUND  VIEW_RANGE  CLOUD  WEATHER_CODE
0               NaN        56.0    4.0          10.0
1               NaN        57.0    2.0          10.0
2               NaN        56.0    7.0          23.0
3               NaN        57.0    7.0          51.0
4               NaN        56.0    7.0          22.0
5               3.0         9.0    0.0          34.0
6               NaN         5.0    0.0          34.0
7               NaN         1.0    0.0          34.0
8               NaN         2.0    0.0          32.0
9               NaN         5.0    0.0          32.0
10              NaN        64.0    0.0          20.0
11            -17.0        70.0    0.0           2.0
12              NaN        69.0    2.0           NaN
13              NaN        67.0    8.0           NaN
14              NaN        50.0    8.0          10.0
15              NaN        14.0    8.0          10.0
16              NaN        19.0    8.0          10.0
17             47.0        17.0    8.0          10.0
18              NaN        48.0    8.0          10.0
19              NaN        44.0    8.0          10.0
20              NaN        50.0    8.0          10.0
21              NaN        57.0    8.0          10.0
22              NaN        60.0    8.0           NaN
23             47.0        63.0    8.0           NaN

In [11]:
df.isnull().any() #you can change the axis too

YYYYMMDD           False
TIME               False
TEMP               False
MIN_TEMP_GROUND     True
PRESSURE           False
HUMIDITY           False
VIEW_RANGE          True
CLOUD               True
MIST                True
RAIN                True
SNOW                True
THUNDER             True
ICE                 True
WEATHER_CODE        True
dtype: bool

In [14]:
df[df.isnull().any(axis=1)]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
0,20160101,1,68,NaN,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0,10.0
1,20160101,2,58,NaN,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0
2,20160101,3,57,NaN,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0,23.0
3,20160101,4,60,NaN,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0,51.0
4,20160101,5,45,NaN,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8778,20161231,19,35,NaN,10271,98,7.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8779,20161231,20,35,NaN,10265,98,11.0,8.0,1.0,0.0,0.0,0.0,0.0,20.0
8780,20161231,21,34,NaN,10258,98,9.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8781,20161231,22,30,NaN,10253,98,9.0,9.0,1.0,1.0,0.0,0.0,0.0,33.0
8782,20161231,23,28,NaN,10246,98,6.0,9.0,1.0,1.0,0.0,0.0,0.0,34.0

In [18]:
df.isnull().all() #all columns contain some data

YYYYMMDD           False
TIME               False
TEMP               False
MIN_TEMP_GROUND    False
PRESSURE           False
HUMIDITY           False
VIEW_RANGE         False
CLOUD              False
MIST               False
RAIN               False
SNOW               False
THUNDER            False
ICE                False
WEATHER_CODE       False
dtype: bool

In [24]:
df.isnull().all(axis=1).any() #No rows that are completely empty

False

In [27]:
df.notnull().all() #returns true for every value that is not null, it is the opposite to isnull

YYYYMMDD            True
TIME                True
TEMP                True
MIN_TEMP_GROUND    False
PRESSURE            True
HUMIDITY            True
VIEW_RANGE         False
CLOUD              False
MIST               False
RAIN               False
SNOW               False
THUNDER            False
ICE                False
WEATHER_CODE       False
dtype: bool

In [28]:
range(5,len(df), 6)

range(5, 8784, 6)

In [29]:
pd.Series(range(5,len(df), 6))

0          5
1         11
2         17
3         23
4         29
        ...
1459    8759
1460    8765
1461    8771
1462    8777
1463    8783
Length: 1464, dtype: int64

In [30]:
every_6th_row = pd.Series(range(5,len(df),6))

In [31]:
df['MIN_TEMP_GROUND'][every_6th_row]

5        3.0
11     -17.0
17      47.0
23      47.0
29      48.0
        ...
8759    32.0
8765    29.0
8771    29.0
8777    37.0
8783    26.0
Name: MIN_TEMP_GROUND, Length: 1464, dtype: float64

In [32]:
df['MIN_TEMP_GROUND'][every_6th_row].notnull().all() #all these rows are filled

True

In [33]:
df['MIN_TEMP_GROUND'].drop(every_6th_row).isnull().all() #checking if all are nulls

True

In [38]:
df.loc[:,'MIN_TEMP_GROUND'].drop(every_6th_row).isnull().all()

True